[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
python-dotenv = "*"
cryptography = "*"
more-itertools = "==8.5.0"
cffi = "==1.14.2"
attrs = "==20.1.0"

[requires]
python_version = "3.8"
